{% extends "base.html" %}

{% block head %}
{% block title %}Login{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>   
    <div class="center">
        <h1>Login Page</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Login">

        </form>
    </div>

{% endblock %}