{% extends "base.html" %}

{% block head %}
<!--{% block title %}Profile{% endblock %}-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/usersfeed.css') }}" type="text/css">
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class ="sidenav>">
        {{ user.first_name }} {{ user.last_name }}
        <ul>
            <li> <a href="">Friends</a></li>
            <li> <a href="">Messages</a></li>
            <li> <a href="">Saved Movies</a></li>
            <li> <a href="">Liked Movies</a></li>
            <li> <a href="">Recommended Movies</a></li>
            <li> <a href="">Reviews</a></li>
            <li> <a href="">Logout</a></li>
        </ul>
    </div>
</div>

{% endblock %}
