{% extends "base.html" %}

{% block head %}
<!-- {% block title %}View Movie | {{ movie.title }} {% endblock %} -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}" type="text/css">
{% endblock %}

{% block content %}
    {% if movie %}
        <header>
            {{ movie.Series_Title }}
        </header>
        <div class="box">
            <div class="imgBx">
                <img src="{{ movie.Poster_Link }}" alt="Poster for {{ movie.Series_Title }}">
            </div>

            <div class="content">
                {# Available values are below #}

                <b>Released:</b> {{ movie.Released_Year }} <br>
                <b>Director:</b> {{ movie.Director }} <br>
                <b>Duration:</b> {{ movie.Runtime }} <br>
                <b>Genre:</b> {{ movie.Genre }} <br>
                <b>IMDB rating:</b> {{ movie.IMDB_Rating }} <br>

                {% if movie.Gross != movie.Gross %} {# this means the value is NAN #}
                {% else %}
                <b>Gross:</b> ${{ movie.Gross }} <br>
                {% endif %}

                <br>

                {% set stars = [ movie.Star1, movie.Star2, movie.Star3, movie.Star4 ] %}

                <b>Stars</b><br>
                <ul>
                    {% for star in stars %}
                        {% if not star == None %}
                            <li>{{ star }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <br>

                {{ movie.Overview }}
            </div>
        </div>

        <h3>Recommended Movies</h3>
        {# note: similar movies will be added to the movie dictionary #}
        <div class="recommendations">
            {# Similar movies will only have id, poster link, and series title available #}
            {% for similar in movie.similar_movies %}
                <a href="{{ url_for ('view_movie', id=similar._id) }}">
                    <img src="{{ similar.Poster_Link }}" alt="Poster thumbnail" height="200">
                    {{ similar.Series_Title }}
                </a>
            {% endfor %}
        </div>

    {% else %}
        <i>No movie provided</i>

    {% endif %}

{% endblock %}
